---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Navigation from '../components/Nav.astro';
import { SITE_TITLE } from '@src/consts';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title=`${title} | ${SITE_TITLE}` description={description} />
	</head>

	<body>
		<Navigation />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image quality="max" src={heroImage} alt="" />}
				</div>
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<h3 class="tag-title">Tags</h3>
					{tags && tags.length > 0 && (
						<div class="tag-wrapper">
							{tags.map((tag, index) => (
								<>
									<a href={`/blog/tag/${tag}`} class="tag" title="Click here to search for more posts with this tag">{tag}</a>
								</>
							))}
						</div>
					)}
					<hr />
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
<style>
	.hero-image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.hero-image img {
		box-shadow: var(--shadow-glass);
		border-radius: var(--radius-glass);
	}
	.title {
		text-align: center;
		line-height: 1;
		width: 100%;
	}
	.title h1 {
		margin-bottom: 0.5em;
	}
	hr {
		width: 100%;
		border-top: var(--border-glass);
		margin: 0;
	}
	.date {
		margin-bottom: 1em;
		line-height: 1.7em;
	}
	.last-updated-on {
		font-style: italic;
	}
	.tag-wrapper {
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		border: var(--border-glass);
		border-radius: var(--radius-glass);
		box-shadow: var(--shadow-glass);
		background-color: var(--bg-glass);
		gap: 0.25em;
		padding: 0.25em;
		margin: auto;
		margin-bottom: 1em;
		width: fit-content;
	}
	.tag {
		padding: 0.25em;
		border-radius: var(--radius-glass);
		border: var(--border-glass);
		box-shadow: var(--shadow-glass);
		background-color: var(--accent2);
		color: var(--accent);
		text-decoration: none;
		transition: transform 0.3s ease;
	}
	.tag:hover {
		transform: scale(1.1);
	}
	.tag-title {
		margin-bottom: 0.25em;
		padding-top: 0.5em;
	}
	@media (min-width: 1000px) {
		main {
			width: 75%;
		}
		.hero-image {
			aspect-ratio: 2 / 1;
		}
		.tag {
			margin: 0.5em;
			padding: 0.5em;
		}
	}
</style>